#blog{
  color: #0000ff;
}
#blog-icon{
  background: url(../img/blog_icon_web.png) no-repeat;
  background-size: 16px 16px;
}
.smk_accordion {
}
.smk_accordion .accordion_in {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.smk_accordion .accordion_in .acc_head {
  position: relative;
  padding: 10px;
  cursor: pointer;
}
.smk_accordion .accordion_in .acc_content {
  color: #7B7E85;
  padding: 3px 10px;
}

.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}

.smk_accordion.acc_with_icon .accordion_in .acc_head {
  padding-left: 15px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_content  {
	padding-left: 35px
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #0088CC;
}


.dropdown-menu a{
  color: #555555 !important;
}


#main article {
  border-bottom: none;
}

.commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  padding-top: 7px;
}
.author a {
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}

/* TODO : we should reuse activity stream comments style instead of redeclaring*/

.commentList {
  padding: 15px 15px 0 15px;
}
.commentList .commentItem {
  position: relative;
}
.commentList .commentItem .commmentLeft {
  float: left;
}
.commentList .commentItem .commmentLeft+.commentRight {
  margin-left: 45px;
}
.author a {
  font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}
.contentComment {
  word-wrap: break-word;
}
.commentList .commentItem .ContentBlock {
  word-wrap: break-word;
}
.rate-current-score {
  background:url(../img/ratings.gif) 0 -16px no-repeat;
  display:block;
  text-indent: -9999px;
  position:absolute;
  height: 100%;
  overflow: hidden;
}
.rate-wrapper {
  height: 16px;
  background:url(../img/ratings.gif) 0 0 no-repeat;
  width:85px;
  float:right;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.rate-wrapper * {

  margin:0; border:0; padding:0;
}
.rate-wrapper a {
  height:100%;
  float:left;
  text-indent:-9999px;
  position:absolute;
  overflow:hidden;
  line-height:1em;
}

.rate-wrapper a:hover{ background:url(../img/ratings.gif) bottom right no-repeat;}
.score-1 {width:20%; z-index:55;}
.score-2 {width:40%; z-index:54;}
.score-3 {width:60%; z-index:53;}
.score-4 {width:80%; z-index:52;}
.score-5 {width:100%; z-index:51;}
.score a:hover{ background:url(../img/ratings.gif) bottom right no-repeat;}

/*scroll*/
html {
  overflow-y: scroll;
}
/* core */
.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: -100px;
  opacity: 0;

  overflow: hidden;
  outline: none;
}

.scrollToTop_show {
  opacity: 1;
  bottom: 20px;
}

@-webkit-keyframes scrollToTop_fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes scrollToTop_fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes scrollToTop_slide {
  0%   {bottom: -100px;}
  100% {bottom: 20px;}
}
@keyframes scrollToTop_slide {
  0%   {bottom: -100px;}
  100% {bottom: 20px;}
}


.scrollToTop_animating,
.scrollToTop_animating * {
  pointer-events: none !important;
}

/* skin(default) */
.scrollToTop {
  width: 50px;
  height: 50px;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-indent: 100%;
  white-space: nowrap;
  background: no-repeat center center transparent;
}

.scrollToTop_default {
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  text-indent: 0;
  background: #eee;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.scrollToTop_default:hover {
  background-color: #ddd;
}

/* skin(cycle) */
.scrollToTop_cycle {
  background-image: url("../img/cycle.png");
}
.scrollToTop_cycle:hover {
  background-image: url("../img/cycle-hover.png");
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #0088CC;
}
.dropdown-menu a{
  color: #555555 !important;
}
#main article {
  border-bottom: none;
}
a.tag {
  color: white;
}
/* TODO : we should reuse activity stream comments style instead of redeclaring*/


.commentList .commentItem {
  position: relative;
}
.commentList .commentItem .commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  paddin-top: 2px
}
.author a {
  font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}
.contentComment {
  word-wrap: break-word;
}
.commentList .commentItem .ContentBlock {
  word-wrap: break-word;
}
.disapproved{text-decoration: line-through;}
.approved{text-decoration: none;}

/* TODO : we should reuse activity stream comment form style instead of copying*/
.inputContainer .commentItem {
  
}
.inputContainer {
  padding-top: 0;
}

.commentList .commentItem .commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  padding-top: 7px;
}
.commentList .commentItem .commentInputBox {
  padding: 3px 0 0;
}
.commentList .commentItem .commentInputBox .commentInput {
  margin-right: 112px;
}

.uiIconExt-blog {
	background-image: url("/eXoPlatformResources/skin/images/icons/uiIconsPLFDarkGray.png");
	background-position: -120px 0;
}

.uiIconExt-blog:hover,a:hover .uiIconExt-blog  {
	 background-image: url("/eXoPlatformResources/skin/images/icons/uiIconsPLFBlue.png");
}

.view-post {
	.uiBox .title {
	   color: #333;
	    margin: 0;
	    padding: 8px 10px;
	}
	.media-body .author {
	    padding-top: 8px;
	}
	.page-header {
	    margin: 20px 0;
	}
	.share-this,.tags {
		margin: 0 0 15px 0;
	}
		
}

.content-blog {
	padding: 15px;	
}


.vote-label {
	margin: 0 10px 0 0;
}

.post-content {
	margin-top: 15px;
	
}
.commentItem {
	.approve {
	    margin-left: 10px;
	}
	.approve .btn {
	    min-width: 100px;
	}
}

.widget-blog {
		li {
					margin: 5px 0;
			    display: block;
				a {
				    color: #333;
				}
		}
}
.blog-archive-post-link {
    a {color: #333;}
    padding-left: 15px;
}

.uiContentBox + .uiContentBox {
    border-top: 1px solid #ddd;
}