#blog{
  color: #0000ff;
}
#blog-icon{
  background: url(../img/blog_icon_web.png) no-repeat;
  background-size: 16px 16px;
}
.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
.smk_accordion .accordion_in {
  border: 1px solid #ccc;
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
.smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #FDFDFD;
  padding: 10px;
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(../img/plusminus.png) center 0;
}
.smk_accordion .accordion_in .acc_content {
  background: #F9F9F9;
  color: #7B7E85;
  padding: 3px 10px;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 3px 3px 0 0;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {
  background: #F9F9F9;
}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(../img/plusminus.png) center -18px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 40px;
}


.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #0088CC;
}


.dropdown-menu a{
  color: #555555 !important;
}


#main article {
  border-bottom: none;
}

.commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  padding-top: 7px;
}
.author a {
  font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}

/* TODO : we should reuse activity stream comments style instead of redeclaring*/

.commentList {
  padding: 15px 15px 0 15px;
}
.commentList .commentItem {
  position: relative;
}
.commentList .commentItem .commmentLeft {
  float: left;
}
.commentList .commentItem .commmentLeft+.commentRight {
  margin-left: 45px;
}
.author a {
  font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}
.contentComment {
  word-wrap: break-word;
}
.commentList .commentItem .ContentBlock {
  word-wrap: break-word;
}
.rate-current-score {
  background:url(../img/ratings.gif) 0 -16px no-repeat;
  display:block;
  text-indent: -9999px;
  position:absolute;
  height: 100%;
  overflow: hidden;
}
.rate-wrapper {
  height: 16px;
  background:url(../img/ratings.gif) 0 0 no-repeat;
  width:85px;
  float:right;
  position: relative;
  overflow: hidden;
  text-align: left;
}
.rate-wrapper * {

  margin:0; border:0; padding:0;
}
.rate-wrapper a {
  height:100%;
  float:left;
  text-indent:-9999px;
  position:absolute;
  overflow:hidden;
  line-height:1em;
}

.rate-wrapper a:hover{ background:url(../img/ratings.gif) bottom right no-repeat;}
.score-1 {width:20%; z-index:55;}
.score-2 {width:40%; z-index:54;}
.score-3 {width:60%; z-index:53;}
.score-4 {width:80%; z-index:52;}
.score-5 {width:100%; z-index:51;}
.score a:hover{ background:url(../img/ratings.gif) bottom right no-repeat;}

/*scroll*/
html {
  overflow-y: scroll;
}
/* core */
.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: -100px;
  opacity: 0;

  overflow: hidden;
  outline: none;
}

.scrollToTop_show {
  opacity: 1;
  bottom: 20px;
}

@-webkit-keyframes scrollToTop_fade {
  0%	 {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes scrollToTop_fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes scrollToTop_slide {
  0%   {bottom: -100px;}
  100% {bottom: 20px;}
}
@keyframes scrollToTop_slide {
  0%   {bottom: -100px;}
  100% {bottom: 20px;}
}


.scrollToTop_animating,
.scrollToTop_animating * {
  pointer-events: none !important;
}

/* skin(default) */
.scrollToTop {
  width: 50px;
  height: 50px;
  color: #000;
  font-family: sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-indent: 100%;
  white-space: nowrap;
  background: no-repeat center center transparent;
}

.scrollToTop_default {
  display: block;
  width: auto;
  height: auto;
  padding: 10px;
  text-indent: 0;
  background: #eee;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.scrollToTop_default:hover {
  background-color: #ddd;
}

/* skin(cycle) */
.scrollToTop_cycle {
  background-image: url("../img/cycle.png");
}
.scrollToTop_cycle:hover {
  background-image: url("../img/cycle-hover.png");
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #0088CC;
}
.dropdown-menu a{
  color: #555555 !important;
}
#main article {
  border-bottom: none;
}
a.tag {
  color: white;
}
/* TODO : we should reuse activity stream comments style instead of redeclaring*/

.commentList {
  padding: 15px 15px 0 15px;
}
.commentList .commentItem {
  position: relative;
}
.commentList .commentItem .commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  paddin-top: 7px
}
.author a {
  font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
  font-weight: bold;
  word-wrap: break-word;
  color: #2f5e92;
  text-decoration: none;
}
.author a+span {
  margin-left: 10px;
  color: #999;
}
.contentComment {
  word-wrap: break-word;
}
.commentList .commentItem .ContentBlock {
  word-wrap: break-word;
}
.disapproved{text-decoration: line-through;}
.approved{text-decoration: none;}

/* TODO : we should reuse activity stream comment form style instead of copying*/
.inputContainer .commentItem {
  padding-bottom: 15px;
}
.inputContainer {
  padding-top: 0;
}

.commentList .commentItem .commmentLeft {
  float: left;
}
.commentRight {
  margin-left: 45px;
  padding-top: 7px;
}
.commentList .commentItem .commentInputBox {
  padding: 3px 0 0;
}
.commentList .commentItem .commentInputBox .commentInput {
  margin-right: 112px;
}
